/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Raleway:wght@200;400;600&display=swap');

/* Universal Style */
* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    font-family: "Poppins", sans-serif;
    font-family: "Raleway", sans-serif;
}

.page-container {
    max-width: 1400px;
}

.img-container {
    width: 100%;
}

.name h2 {
    color:white;
}

.footer .fab {
    font-size: 1rem;
}

.social {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    margin: auto;
}

.name-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.name-container h1 {
    font-size: 4rem;
}

.name-container h3 {
    font-size: 2rem;
}

.name-container h4 {
    font-size: 1rem;
}

.button button {
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;

}

.button {
    text-align: center;
    background: transparent;
}